@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f7;
}
img {
  display: block;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* end reset */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1138px;
}
/* header */
.header {
  padding: 22px 22px 21px 30px;
  gap: 83px;
  img {
    padding: 11px 19px;
  }
}
.header-container {
  display: flex;
  gap: 83px;
}
.header-nav-list {
  display: flex;
  gap: 29px;

  a {
    font-size: 24px;
    font-weight: 500;
  }
}

/* Hero Section */
.hero-section {
  background-image: url("./images/heroImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 400px;
}
.hero-container {
  gap: 37px;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  font-size: 48px;
}
.hero-slogan {
  font-style: 20px;
}

/* Newses Section */
.newses-section {
  padding: 45px 0 151px 0;
}

.newses-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 49px;
}
.newses-container {
  color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  max-width: 1138px;
}
.news {
  gap: 15px;
  background-color: #ffffff;
}
.news-content {
  gap: 15px;
  padding: 0 19px 36px 19px;
}
.news-meta {
  font-size: 13px;
  display: flex;
  gap: 28px;
}
.news-title {
  font-weight: 600;
  font-size: 22px;
}
.news-description {
  font-size: 15px;
}

.footer-container {
  background-color: #252424;
}
.footer-content {
  margin: 0 auto;
  padding: 57px 24px 36px 24px;
  color: #a1a1a6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
  }
  ul {
    display: grid;
    gap: 11px;
  }
}
.category {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.copyright {
  background-color: #020202;
  padding: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #868688;
  text-align: center;
}
